@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    al.Grunwaldzka 238A<br />
    80 309 Gdańsk<br />
</address>

<address>
    <strong>Creator:</strong>   <a href="emiliam2806@gmail.com">emiliam2806@gmail.com</a><br/>
    
</address>